:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    background: url("bg.jpg") center / cover no-repeat; 
}

.container {
    display: flex;
    height: 100vh;
}

img {
    width: 50px;
    height: 70px;
}

#fill-in {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 0.8rem;
    padding: 20px;
    width: 100vh;
    border: 1px solid transparent;
}

main {
    display: flex;
    background-color: white;
    margin: 0;
    width: 100vh;
    height: 50vh;
}

header {
    display: flex;
    align-items: flex-start;
    margin-top: 20vh;
}

.logo {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    box-sizing: border-box;
    width: 50vh;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    margin: 0;
}

.logo span {
    display: flex;
    align-items: center;
    font-family: Tangerine;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

footer span {
    font-size: 0.8rem;
    color: #ccc6c6;
}

footer span a {
    text-decoration: none;
    color: inherit;
}
