:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    background: url("bg.jpg") center / cover no-repeat; 
}

img {
    width: 80px;
    height: 100px;
}

footer span {
    font-size: 0.8rem;
    color: #666;
}

footer span a {
    text-decoration: none;
    color: inherit;
}
