:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    background: url("bg.jpg") center / cover no-repeat; 
}

.container {
    display: flex;
    height: 95vh;
}

img {
    width: 50px;
    height: 70px;
}

header {
    display: flex;
    align-items: flex-start;
    margin-top: 20vh;
    width: 50%;
}

.logo {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    margin: 0;
}

.logo span {
    display: flex;
    align-items: center;
    font-family: Tangerine;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

main {
    display: flex;
    background-color: white;
    margin: 0;
    padding: 10px;
    width: 80%;
    height: 100%;
}

#fill-in {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: white;
    font-size: 0.8rem;
    padding: 3rem;
    width: 110vh;
    margin: 5vh; 
    border: transparent;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.15);
} 

h2 {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
}

.submit {
    display: flex;
    margin-left: 10vw;
    margin-top: 0;
    padding: 15px;
    background-color: #596D48;
    font-size: inherit;
    color: white;
}

p {
    margin: 2.5rem;
    font-size: inherit;
}

p a {
    text-decoration: none;
    font-family: inherit;
    font-size: 1.1rem;
    margin-left: 1rem;
    color: rgb(19, 73, 19);
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 1rem);
}

footer span {
    display: flex;
    font-size: 0.8rem;
    color: #ccc6c6;
}

footer span a {
    text-decoration: none;
    color: inherit;
}
